<!DOCTYPE html>
<html ng-app="hexangular" ng-controller="MainCtrl as main">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    
    <!-- The "perfect" viewport (according to PPK) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <base href="/">    

    <title>Hexagonal Empire</title>
    
    <!-- Roboto font -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
    
    <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js"></script>    
    
    <!-- Angular Material -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.css">
    <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.6.1/angular-material.min.js"></script>
    
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.1.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
    
    <!-- hexangular -->
    <script src="app/app.module.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.route.js"></script>
    <script src="app/firebaseRef.service.js"></script>
    <script src="app/page.service.js"></script>
    <script src="app/auth.service.js"></script>
    <script src="app/main.controller.js"></script>
    <script src="app/appBar.controller.js"></script>
    <script src="app/hangman/hangman.controller.js"></script>
  </head>
  <body>
    <!-- Example Angular Material toolbar -->
    <div layout="column" layout-fill>
      <md-toolbar class="md-primary" ng-controller="AppBarCtrl as appBar">
        <div class="md-toolbar-tools">
          <md-button aria-label="Navigation" ng-click="appBar.toggleNav()">     
            <img src="./img/icons/ic_menu_24px.svg" style="vertical-align: -6px">
          </md-button>
          <span ng-bind="appBar.page.title">Hexagonal Empire</span>
          <span flex></span>
          <md-button href="https://github.com/hexagonal/hexagonal.github.io">            
            <span><img src="./img/icons/ic_launch_24px.svg" style="vertical-align: -6px">GitHub</span>
          </md-button>
        </div>
      </md-toolbar>
      <md-sidenav md-component-id="mainNav">
        <div layout="column">
          <md-button ng-hide="main.signedIn" ng-click="main.signIn()">Sign in</md-button>
          <md-button ng-show="main.signedIn" ng-click="main.signOut()">Sign out</md-button>
          <md-divider></md-divider>
          <md-button href="hangman">Hangman</md-button>
          <md-divider></md-divider>
          <md-button href="home">Home</md-button>
          <md-button href="about">About</md-button>
        </div>
      </md-sidenav>
      <ng-view></ng-view>
    </div>
  </body>
</html>
